# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
pydantic
tensorflow==2.16.1
numpy
pandas
scikeras==0.13.0
joblib
